@charset "UTF-8";

/* 
	Nome: CSS 
	Data: 
    Descrição: Versão inicial. 
	Versão: 0.1
	Autor: Alexandre Senne
	
*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impactregular';
    src: url('fonts/impact-webfont.eot');
    src: url('fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/impact-webfont.woff') format('woff'),
         url('fonts/impact-webfont.ttf') format('truetype'),
         url('fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    background:url(images/background/pattern-1.png) repeat 0 0 #f8f8f8;
}
pre, code {
    font-family: 'DejaVu Sans Mono',Menlo,Consolas,monospace;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #cdcdcd;
    border-style: solid;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 20px;
    margin-top: 20px;
}

article, section{
		padding: 5px;
		
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #222222;
}

.img-manchete{
    float: left;
    margin-right: 10px;
    margin-bottom: 2px;
    border-radius: 3px;
}

footer{
    background-color:teal; /*#008B8B*/
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    border-radius: 3px;
    color:white;
    
}

}

.conteudo-noticias{
    border:2px solid lightgray;
        
}

.etiqueta{
    background-color: #A9A9A9;
    padding: 5px;
    border-radius: 3px;
    border-top: 4px solid #f2472d;
	
}


/* Configurando o Menu ---------- */

.icon-bar{
    background-color:white;
}

.navbar-nav > li > a {
	color:#ffffff;
    /*padding:0;
    margin:0;*/
 }   

.navbar-brand{
	color:#ffffff;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    color:#A9A9A9;
    background-color:#008B8B;
}

/* Colocando imagens em cada menu */

/* Imagem 1 */
.menuitem1{    
    background: url('../img/img-menu/img-1a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
 }   

.navAlt li:hover .menuitem1{ 
    background: url('../img/img-menu/img-1b.png') no-repeat;
}
/* --------------- */

/* Imagem 2 */
.menuitem2{    
    background: url('../img/img-menu/img-2a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.navAlt li:hover .menuitem2{ 
    background: url('../img/img-menu/img-2b.png') no-repeat;
}

/* --------------- */

/* Imagem 3 */
.menuitem3{    
    background: url('../img/img-menu/img-3a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem3{ 
    background: url('../img/img-menu/img-3b.png') no-repeat;
}

/* --------------- */

/* Imagem 4 */
.menuitem4{    
    background: url('../img/img-menu/img-4a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem4{ 
    background: url('../img/img-menu/img-4b.png') no-repeat;
}

/* --------------- */

/* Imagem 5 */
.menuitem5{    
    background: url('../img/img-menu/img-5a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem5{ 
    background: url('../img/img-menu/img-5b.png') no-repeat;
}

/* --------------- */

/* Imagem 6 */
.menuitem6{    
    background: url('../img/img-menu/img-6a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem6{ 
    background: url('../img/img-menu/img-6b.png') no-repeat;
}

/* --------------- */

/* Imagem 7 */
.menuitem7{    
    background: url('../img/img-menu/img-7a.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem7{ 
    background: url('../img/img-menu/img-7b.png') no-repeat;
}

/* --------------- */


/* Aumentar e Diminuir TEXTO */

.right-tamanho-fonte {
    display: inline;
    float: right;
    padding-right: 4px;
}



/* Aumentar */
.menuitem8{    
    background: url('../img/img-menu/fonte-aumenta1.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem8{ 
    background: url('../img/img-menu/fonte-aumenta2.png') no-repeat;
}

/* Normal */
.menuitem9{    
    background: url('../img/img-menu/fonte-normal1.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem9{ 
    background: url('../img/img-menu/fonte-normal2.png') no-repeat;
}


/* Diminuir */
.menuitem10{    
    background: url('../img/img-menu/fonte-diminui1.png') no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    /*position: fixed;*/
}

.navAlt li:hover .menuitem10{ 
    background: url('../img/img-menu/fonte-diminui2.png') no-repeat;
}



/* --------------- */

/* Mapa Site */
.menuitem11{    
    background: url('../img/mapasite1.png') no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    /*position: fixed;*/
}

li:hover .menuitem11{ 
    background: url('../img/mapasite2.png') no-repeat;
}

/*-- Ajustando as redes sociais no footer --*/

.socials-left {
    display: inline;
    float: left;
    padding-right: 4px;
}

.socials-right {
    display: inline;
    float: right;
    padding-right: 4px;
    

}

.socials-right span{
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    text-indent: -4000px;
}

.socials-right .facebook {
    background: url(../img/img-footer/social-1a.png) no-repeat;
    width: 32px;
    height: 32px;
   
}
.socials-right .facebook:hover {
    background: url(../img/img-footer/social-1b.png) no-repeat;
}

.socials-right .whatsapp {
    background: url(../img/img-footer/social-2a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .whatsapp:hover {
    background: url(../img/img-footer/social-2b.png) no-repeat;
}

.socials-right .twitter {
    background: url(../img/img-footer/social-3a.png) no-repeat;
    width: 32px;
    height: 32px;
}
.socials-right .twitter:hover {
    background: url(../img/img-footer/social-3b.png) no-repeat;
}


.socials-right .youtube {
    background: url(../img/img-footer/social-4a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .youtube:hover {
    background: url(../img/img-footer/social-4b.png) no-repeat;
}

.socials-right .instagram {
    background: url(../img/img-footer/social-5a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .instagram:hover {
    background: url(../img/img-footer/social-5b.png) no-repeat;
}





/* Classe que é chamada pelo Javascript para fixar o menu */
.menu-fixo {
		position: fixed;/* Fixando o menu */
		top: 0;
		z-index: 99;
        opacity:0.65;
	    -moz-opacity: 0.65;
	    filter: alpha(opacity=65);
}

.menu-fixo:hover{
        opacity:0.95;
	    -moz-opacity: 0.95;
	    filter: alpha(opacity=95);    
}

#menuHeader{
		background:#008B8B;
		width:100%;
		/*padding:0;*/
		/*margin-top: 0;*/
}

/* Fim Configuração Menu ---------- */		

/* Back To Top */

.back-to-top{
				width: 64px;
				height: 64px;
				display: block;
				background: url('../img/arrow.png') no-repeat;
				position: fixed;
				bottom:75px;
				right: 20px;
				z-index: 99;
                opacity:0.45;
	           -moz-opacity: 0.45;
	           filter: alpha(opacity=45);
		
}

.back-to-top:hover{
		cursor: pointer;
		background: url('../img/arrow.png') no-repeat;
        opacity:0.85;
	    -moz-opacity: 0.85;
	    filter: alpha(opacity=85);
}

/*----------Breadcrumb----------*/


.breadcrumb .current-page,
.breadcrumb a {
    color:#f2472d;
}
.breadcrumb a:hover {
    text-decoration:underline;
}

/* =========================================================
    Main Content
============================================================ */
#main-content {
    /*margin-top:10px;*/
    position:relative;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    box-shadow: 0 1px 0 0 #b6b6b6;
    display: block;
    z-index:1;
    background-color:#fff;
}
#main-content:before, #main-content:after {
    bottom: -2px;
    box-shadow: 0 1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: -2;
    border-radius: 0 0 3px 3px;
}
#main-content:after {
    bottom: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
#main-content-inner {
    position:relative;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    display: block;
    z-index:1;
    background-color:#fff;
}
#main-content-inner:before, #main-content-inner:after {
    top: -2px;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: -2;
    border-radius: 3px 3px 0 0;
}
#main-content-inner:after {
    top: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
.main-content-top {
    border-bottom:1px solid #cdcdcd;
    padding:10px 0;
    margin:0 20px;
}
.main-content-bottom {
    background:url(images/background/line-1.gif) repeat-y 380px 0;
    border-bottom:1px solid #ddd;
    position:relative;
}
.full-width-page .main-content-bottom {
    padding:0 20px;
    background:none;
    padding-bottom:50px;
}
.sub-page .main-content-bottom {
    background:none;
}
.sub-page.v-divider .main-content-bottom {
    background:url("images/background/line-1.gif") repeat-y scroll 760px 0 transparent;
}

/*--------------------------------------------------*/
/*----------Widget----------*/
.widget {
    margin-bottom:30px;
}   

.widget-title {
    border-top:7px solid #f2472d;
    padding-top:10px;
    font-size:20px;
    background:url(images/background/pattern-4.png) repeat-x 0 12px;
    line-height:1;
    margin-bottom:20px;
}

/*----------Carousel----------*/
.list-carousel.responsive {
    margin: 0 -10px;
    width: auto;
}
.list-carousel ul {
    display: block;
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.list-carousel ul li {
    display: block;
    float: left;
    margin: 0 10px;
    padding: 0;
    width:300px;
}
.list-carousel ul li article img {
    display: block;
    height: auto;
    width: 100%;
}
.carousel-nav {
    position:absolute;
    top:12px;
    right:0;
    background-color:#fff;
    padding-left:10px;
}
.list-carousel .carousel-next, .list-carousel .carousel-prev {
    background: url("images/slider/carousel-nav.png") no-repeat scroll 0 0;
    cursor: pointer;
    display: block;
    float:left;
    height: 26px;
    text-indent: -9999px;
    width: 25px;
    z-index: 10;
    outline:none;
}
.list-carousel .carousel-prev {
    margin-right:5px;
}
.list-carousel .carousel-next {
    background-position: -75px 0px;
}
.list-carousel .carousel-prev:hover {
    background-position: 0 -74px;
}
.list-carousel .carousel-next:hover {
    background-position: -75px -74px;
}
.featured-widget ul li article header {
    background:url(images/background/pattern-3.png) repeat 0 0;
    padding:5px 5px 0;
    margin-bottom:15px;
}
.featured-widget ul li article header img {
    margin-bottom:10px;
}
.featured-widget ul li article header p {
    float:left;
}
.featured-widget ul li article header p strong {
    font-size:28px;
    font-family: 'Coda', cursive;
    color:#000;
    font-weight:800;
    line-height:30px;
    margin-right:5px;
}
.featured-widget ul li article header p span {
    color:#000;
    font-size:10px;
    font-family: 'Coda', cursive;
    width:40px;
    white-space:pre-wrap;
    display:inline-block;
    line-height:14px;
}
.entry-comments {
    color:#f2472d;
    font-size:13px;
    font-family: 'Coda', cursive;
}
.entry-comments:hover {
    text-decoration:underline;
}
.featured-widget ul li article header .entry-comments {
    float:right;
    line-height:30px;
}
.featured-widget ul li article .entry-content .entry-title {
    font-size:14px;
    font-family: 'Coda', cursive;
    font-weight:800;    
    margin-bottom:5px;
}
.featured-widget ul li article .entry-content .entry-title a {
    color:#222;
}
.featured-widget ul li article .entry-content .entry-title a:hover {
    color:#f2472d;
}
.featured-widget {
    position:relative;
}

.hover-img {
	width:100%;
}

/* =========================================================
CSS3 Transition
============================================================ */
#main-menu li ul li, #main-menu li ul li a, .column-a .widget ul li a, .big-button, .medium-button, .small-button, .download-button, .upload-button, .back-button, .next-button, .complete-button, .cancel-button, .kp-color-button .black-button, .kp-color-button .grey-button, .kp-color-button .white-button, .kp-color-button .red-button, .kp-color-button .orange-button, .kp-color-button .yellow-button, .kp-color-button .dark-blue-button, .kp-color-button .light-blue-button, .kp-color-button .green-button, .kp-color-button .maroon-button, .kp-color-button .pink-button, .bottom-sidebar .widget ul li, .bottom-sidebar .widget ul li a, .kp-tag span, .bottom-menu li a, .kopa-tag, .about-author a, .related-widget .entry-content a, .widget .entry-title a, .pagination li, .pagination li a, #toggle-view h3, .accordion-title {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* =========================================================
Link
============================================================ */

.font-link{
    font-size: 20px;
    font-family: "BebasNeueRegular", Arial, sans-serif;
}
