@charset "UTF-8";

/* 
	Nome: CSS 
	Data: 
    Descrição: Versão inicial. 
	Versão: 0.1
	Autor: Alexandre Senne
	
*/

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeue-webfont.eot');
    src: url('fonts/BebasNeue-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeue-webfont.woff') format('woff'),
         url('fonts/BebasNeue-webfont.ttf') format('truetype'),
         url('fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'impactregular';
    src: url('fonts/impact-webfont.eot');
    src: url('fonts/impact-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/impact-webfont.woff') format('woff'),
         url('fonts/impact-webfont.ttf') format('truetype'),
         url('fonts/impact-webfont.svg#impactregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    color: #333333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
	background:url(images/background/pattern-1.png) repeat 0 0 #f8f8f8;
}


/*----------Search Box----------*/
.search-box {
    top:15px;
	float:right;
    margin-right: 10px;
    margin-bottom: 20px;
	position:relative;
	background-color:#fbfbfb;	
}
.search-box .search-text {
	background:none;
	border:1px solid #dfdfdf;
	width:250px;
	padding:0 40px 0 10px;
	height:40px;
	line-height:33px;
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
}
.search-box .search-text:focus {
	border:1px solid #F2472D;
}
.search-box .search-submit {
	border:none;
	width:16px;
	height:16px;
	text-indent:-99999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
	background:url(../img/search-icon.png) no-repeat 0 0;
	position:absolute;
	right:10px;
	top:9px;
}
.search-box .search-submit:hover {
	background:url(../img/search-icon.png) no-repeat 0 -34px;
}

/*----------Logo----------*/
#logo-image {
    float:left;
}


/* =========================================================
	Menu de Navegação
============================================================ */

.navbar {
     margin-bottom: 0px;
}
.navbar-toggle {    
    background-color: #f2472d;
}
.navbar-toggle .icon-bar {
     background: white;
}

.navbar-nav>li>a {
    color: white;
    background-color: #008b8b;
    
}
.navbar-nav>li>a:hover {
    color: white;
    background-color: #f2472d;
    
}


#meuMenu {
	background-color:#008b8b;
	border-bottom:7px solid #f2472d;
	margin-bottom:15px;
    box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-moz-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-webkit-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
    
}

.menu-fixo {
    position:fixed;
    z-index: 99999;    
    top: 0px !important;
    border-bottom:7px solid #f2472d;
	margin-bottom:15px;
    width: 84.5%;
    opacity:0.55;
    -moz-opacity: 0.55;
	filter: alpha(opacity=55);
    box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-moz-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
	-webkit-box-shadow:1px 5px 5px rgba(147,147,147,0.75);
}

.menu-fixo:hover{
        opacity:0.95;
	    -moz-opacity: 0.95;
	    filter: alpha(opacity=95);    
}
/* Fim Configuração Menu ---------- */
/*----------Breadcrumb----------*/
.alinha-texto{
    float:left;
    margin: 4px 0 5px 10px;
    font-size: 15px;
    font-style: italic;
}
.breadcrumb{
    padding:10px;
    margin-top: 5px;
    margin-bottom:5px;
    list-style:none;
    background-color:#ddd;
    border-radius:0px
}

.breadcrumb>li{
    display:inline-block
}
.breadcrumb>li+li:before{
    padding:0 5px;
    color:#ccc;
    content:"/\00a0"
}
.breadcrumb>.active{
    color:#777
}

.breadcrumb {
	/*float:left;*/
	/*margin-top:10px;*/
}
.breadcrumb span {
	display:inline-block;
}

.breadcrumb .current-page,
.breadcrumb a {
	color:#f2472d;
}
.breadcrumb a:hover {
	text-decoration:underline;
}
/*----------Search Social----------*/
#search-social {
	float:right;
    margin-bottom: 5px;
    
}


/* -------Aumentar e Diminuir TEXTO-------------- */



.right-tamanho-fonte {
    display: inline-block;
    float: right;
    padding-right: 4px;
}



/* Aumentar *//* Normal *//* Diminuir */
.menuitem8, .menuitem9, .menuitem10 {
    background-color: #f2472d;
    color: #ffffff;
    font-style: oblique;
}


.menuitem8:hover, .menuitem9:hover,.menuitem10:hover  {
    background-color: #008B8B;
    color: #ffffff;
    font-style: oblique;
}

/* --------------- */

/* =========================================================
	Rodapé - footer
============================================================ */

footer{
    background-color:teal; /*#008B8B*/
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
    border-radius: 3px;
    color:white;
    border-top:7px solid #f2472d;
	margin-top:10px;
	box-shadow:1px 5px 5px 1px rgba(147,147,147,0.75);
	-moz-box-shadow:1px 5px 5px 1px rgba(147,147,147,0.75);
	-webkit-box-shadow:1px 5px 5px 1pxrgba(147,147,147,0.75);
}
.h4-footer{
    color: floralwhite;
}

.footer-left{
    margin-bottom: 10px;
}

.footer-middle{
    padding: 5px;
    margin-top: 10px;
}


.footer-right{
    margin-bottom: 10px;
}

.btn-default {
    color: #ccc;
    background-color: #f2472d;
    border-color: #f2472d;
}


/*-- Ajustando as redes sociais no footer --*/
.socials-left {
    display: inline;
    float: left;
    padding-right: 4px;
}
.socials-right {
    display: inline;
    float: right;
    padding-right: 4px;
}
.socials-right span{
    display: block;
    float: right;
    width: 32px;
    height: 32px;
    text-indent: -4000px;
}

.socials-right .facebook {
    background: url(../img/img-footer/social-1a.png) no-repeat;
    width: 32px;
    height: 32px;
   
}
.socials-right .facebook:hover {
    background: url(../img/img-footer/social-1b.png) no-repeat;
}

.socials-right .whatsapp {
    background: url(../img/img-footer/social-2a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .whatsapp:hover {
    background: url(../img/img-footer/social-2b.png) no-repeat;
}

.socials-right .twitter {
    background: url(../img/img-footer/social-3a.png) no-repeat;
    width: 32px;
    height: 32px;
}
.socials-right .twitter:hover {
    background: url(../img/img-footer/social-3b.png) no-repeat;
}


.socials-right .youtube {
    background: url(../img/img-footer/social-4a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .youtube:hover {
    background: url(../img/img-footer/social-4b.png) no-repeat;
}

.socials-right .instagram {
    background: url(../img/img-footer/social-5a.png) no-repeat;
    width: 32px;
    height: 32px;
}

.socials-right .instagram:hover {
    background: url(../img/img-footer/social-5b.png) no-repeat;
}


/*
Back to top button 
*/
.back-to-top {
    position: fixed;
	bottom: 100px;
	right:0;
	margin-right:20px;
	margin-bottom:0;
	z-index:100;
}
.back-to-top a {
   	width: 65px;
	height: 65px;
	display: block;	
	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
	background:url(../img/back-top-bg.png) no-repeat center center #f2472d;
	text-indent:-99999px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.67);
	position:relative;
	z-index:0;
	outline:none;
}
.back-to-top a:hover{
    -webkit-box-shadow:0 0 10px 0 #008B8B;
	-moz-box-shadow:0 0 10px 0 #008B8B;
	box-shadow:0 0 10px 0 #008B8B;	
}

/* =========================================================
	Main Content
============================================================ */
#main-content {
	/*margin-top:-60px;*/
    clear: both;
	position:relative;
	border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    box-shadow: 0 1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	/*background-color:#fff;*/
}
#main-content:before, #main-content:after {
    bottom: -2px;
    box-shadow: 0 1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    top: 0;
    z-index: -2;
	border-radius: 0 0 3px 3px;
}
#main-content:after {
    bottom: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}
#main-content-inner {
	position:relative;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    display: block;
	z-index:1;
	background-color:#fff;
}
#main-content-inner:before, #main-content-inner:after {
    top: -2px;
    box-shadow: 0 -1px 0 0 #b6b6b6;
    content: "";
    left: 1px;
    position: absolute;
    right: 1px;
    bottom: 0;
    z-index: -2;
	border-radius: 3px 3px 0 0;
}
#main-content-inner:after {
    top: -4px;
    left: 2px;
    right: 2px;
    z-index: -3;
}

/* Divisão */
.divisao{
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 5px 0 5px 0;
    height: auto;
    margin: 5px 0 5px 0;
}


/* Comentarios */
.comentario{
    float:left;
}

/* Coluna A */
.acima-titulo{
    border-top: 7px solid #f2472d;
}

.titulo-col-a{
    color: #f2472d;
    background-color: #fff;
    padding-right: 10px;
    font-size: 20px;
}

/* Leia mais*/
.leia-mais {
    background:url(images/icons/more-link-icon.png) no-repeat left center;
	font-size:15px;
	color:#f2472d;
	padding-left:20px;
}
.leia-mais:hover {
	text-decoration:underline;
}

/* Paginacao */

.paginacao {
	margin:20px 0 0 0;
	display:inline-block;
    padding: 10px;
}

.cont-pag{
    border-top: 1px solid #b6b6b6;
    margin-top: 10px;
}
.paginacao li {
	margin:0;
	list-style:none;
	float: left;
	width:40px;
	height:40px;
	margin-right:5px;
	background-color:#008B8B;
	text-align:center;
    color: #fff;
    padding: 10px;
}
.paginacao li a{
    color: #fff;
}
.paginacao li.current, .paginacao li:hover {
	background-color:#f2472d;
}
.paginacao li.current a {
	line-height:45px;
	font-size:18px;
	font-family: 'Coda', cursive;
    color: #fff;
}
.paginacao li.current a, .paginacao li:hover a {
	color:#fff;
}

.titulo-col-b {
    background-color: #414141;
    padding: 10px 15px;
    margin-bottom: 10px;
    color: #fff;
}
.titulo-noticia-col-a {
    font-size: 16px;
    font-family: 'Coda', cursive;
    font-weight: 800;
    margin-bottom: 10px;
}

/* =========================================================
Heading
============================================================ */
h1 {
    color: #333333;
    font: 400 24px/26px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h2 {
    color: #333333;
    font: 400 22px/24px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h3 {
    color: #333333;
    font: 400 20px/22px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
}
h4 {
    color: #333333;
    font: 400 18px/20px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h5 {
    color: #333333;
    font: 400 16px/18px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}
h6 {
    color: #333333;
    font: 400 14px/18px "BebasNeueRegular", Arial,sans-serif;
    letter-spacing: 0;
	margin-bottom:3px;
	
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #222222;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: #f2472d;
}
p { 
	margin-bottom:10px;
	line-height:18px;
}

/* Formulário */

.formulario{
    padding: 20px;
    background: #ddd;
    margin-bottom: 20px;
    border-radius: 5px;
}
aside section{
    padding-bottom: 15px;
}

@media only screen and (max-width: 479px) {

    .publicidade {
        display: none;
    }

    section h6 {
        font-size: small;
    }
    section h4 {
        font-size: medium;
    }

    .breadcrumb{
        font-size: 10px;
    }

    .alinha-texto{
        font-size: 12px;
    }

    .search-submit{
        margin-right: 10px;
    }

    .acima-titulo section p {
        font-size: 10px;
    }

    article .acima-titulo section div a .btn-sm {
        padding-bottom: 10px;
    }

    .separator{
        padding-bottom: 10px;
    }

}
